<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
    "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.somero.deploy.mapper.UserMapper">
    <resultMap id="BaseResultMap" type="com.somero.deploy.model.User">
        <result column="id" jdbcType="INTEGER" property="id"/>
        <result column="username" jdbcType="VARCHAR" property="username"/>
        <result column="password" jdbcType="VARCHAR" property="password"/>
        <result column="mobile" jdbcType="VARCHAR" property="mobile"/>
        <result column="mail" jdbcType="VARCHAR" property="mail"/>
        <result column="real_name" jdbcType="VARCHAR" property="realName"/>
        <result column="created_at" jdbcType="TIMESTAMP" property="createdAt"/>
    </resultMap>
    <insert id="insert" parameterType="com.somero.deploy.model.User" useGeneratedKeys="true"
            keyColumn="id" keyProperty="id">
    insert into so_user (
      id,
      username,
      password,
      mobile,
      mail,
      real_name,
      created_at)
    values (
      #{id,jdbcType=INTEGER},
      #{username,jdbcType=VARCHAR},
      #{password,jdbcType=VARCHAR},
      #{mobile,jdbcType=VARCHAR},
      #{mail,jdbcType=VARCHAR},
      #{realName,jdbcType=VARCHAR},
      #{createdAt,jdbcType=TIMESTAMP})
  </insert>

    <select id="findById" resultMap="BaseResultMap">
      select * from so_user where id = #{id}
    </select>

    <update id="update" parameterType="com.somero.deploy.model.User">
        update so_user
        set
            username = #{username,jdbcType=VARCHAR},
            password = #{password,jdbcType=VARCHAR},
            mobile = #{mobile,jdbcType=VARCHAR},
            real_name =  #{realName,jdbcType=VARCHAR},
            mail = #{mail,jdbcType=VARCHAR}
        where id = #{id}
    </update>

    <delete id="delete">
        delete from so_user where id = #{id}
    </delete>
    <select id="findByCase" resultMap="BaseResultMap">
        select * from so_user
        where 1 = 1
        <if test="user.id != null and user.id != 0">
            <choose>
                <when test="filter">
                    and id != #{user.id}
                </when>
                <otherwise>
                    and id = #{user.id}
                </otherwise>
            </choose>
        </if>
        <if test="user.username != null">
            and username = #{user.username}
        </if>
        <if test="user.password != null">
            and password = #{user.password}
        </if>
        <if test="user.mobile != null">
            and mobile = #{user.mobile}
        </if>
        <if test="user.mail != null">
            and mail = #{user.mail}
        </if>
        <if test="user.realName != null">
            and real_name =#{user.realName}
        </if>
    </select>
</mapper>